@font-face {
    font-family: "textile";
    src: ("Textile.ttf");
    }

body {
    background-color: #9C755D;
}

.hhh {
  padding-right: 50px;
}

.header {
  width: 2%;
  float: right;
  padding: 0.5%;
}

.title {
    font-family: textile;
    text-align: center;
    padding-top: 6%;
    color: #D8CAC1;
    font-size: 48px;
    padding-bottom: 2%;
}
    
.time {
    display: flex;
  }

.columnleft {
    flex: 50%;
    padding-left: 5%;
}

.image {
    float: right;
    width: 75%;
    height: auto;
}

.columnright {
    flex: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-right: 10%;
    flex-direction: column;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 7%;
}
.clock {
    font-family: textile;
    font-size: 72px;
    text-align:center;
    color: #D8CAC1;
}

.mode-button {
    font-size: 16px;
    height: 28px;
    cursor: pointer;
    box-shadow: none;
    font-weight: 300;
    color: #D8CAC1;
    border: 1px solid transparent;
    margin: 0px;
    border-radius: 4px;
    padding: 2px 12px;
    background: none;
  }
  
  .mode-button.active {
    border-color: #211D17;
  }
  
  .main-button {
    cursor: pointer;
    font-size: 22px;
    height: 45px;
    text-transform: uppercase;
    color: #211D17;
    font-weight: bold;
    width: 30%;
    background-color: #D8CAC1;
    border-width: initial;
    border-style: none;
    border-radius: 4px;
    transition: color 0.5s ease-in-out 0s;
  }
  
  button:focus, button:active {
    outline: none;
  }
  
  .main-button.active {
    transform: translateY(6px);
    box-shadow: none;
    outline: none;
  }
  
  .hidden {
    display: none;
  }

  .js-progress {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .time {
      flex-direction: column;
    }
  
    .columnleft,
    .columnright {
      flex: 100%;
      padding: 0;
    }
  
    .image {
      width: 100%;
      margin: 0 auto;
    }
  
    .columnright {
      padding: 0;
    }

    .title {
        font-size: 34px;
        text-align: center;
    }

    .header {
      width: 5%;
      padding-left: 2.5%;
      float: right;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 800px) {
    .image {
        width: 90%;
    }
  }